/* button */
a.SIM-buttonLink {
    text-decoration: none;
    border: thin solid #CCC;
    border-radius: 0.25em;
    display: inline-block;
    padding: 0.3em;
    color: #333;
    text-shadow: 0px -1px 0px #ddf;
    cursor: pointer;
    background-color: #EEE;
    background: -moz-linear-gradient(top, #fafafa 0%, #eeeeee 15%, #eeeeee 85%, #e0e0e0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(15%,#eeeeee), color-stop(85%,#eeeeee), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fafafa 0%,#eeeeee 15%,#eeeeee 85%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fafafa 0%,#eeeeee 15%,#eeeeee 85%,#e0e0e0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fafafa 0%,#eeeeee 15%,#eeeeee 85%,#e0e0e0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fafafa 0%,#eeeeee 15%,#eeeeee 85%,#e0e0e0 100%); /* W3C */
}

a.SIM-intitle-link {
    color: #eee;
    cursor: pointer;
    font-size: 80%;
}

a.SIM-intitle-link:hover {
    color: #fff;
    text-decoration: underline;
}

a.SIM-intitle-close {
    color: #ddd;
    cursor: pointer;
    font-size: 110%;
    font-family: Avenir,Helvetica,sans-serif;
    padding: 10px;
}

a.SIM-intitle-close:hover {
    color: #fff;
}

.SIM-button {
    font-weight: lighter;
    color: #eee;
    font-family: Gotham A,Gotham B,Helvetica,sans-serif;
    background-color: #5D7998;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    padding: 4px 12px;
    text-align: center;
    vertical-align: middle;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -webkit-transition: background-color ease-out .3s;
    -moz-transition: background-color ease-out .3s;
    -o-transition: background-color ease-out .3s;
    transition: background-color 0.3s ease-out 0s;
}

.SIM-button:focus {
    outline:0;
}

.SIM-button:hover {
    color: #fff;
    background: #002e5d;
}

.SIM-button:active {
    -moz-box-shadow: inset 0 0 5px #000;
    -webkit-box-shadow: inset 0 0 5px #000;
    box-shadow: inset 0 0 5px #000;
}

.SIM-button.primary {
    background-color: #AAA;
}

.SIM-button.primary:hover {
    background: #888;
}

.SIM-button.accept, .SIM-intitle-link.accept {
    background-color: #2C8B3D;
}

.SIM-button.accept:hover, .SIM-intitle-link.hover {
    background: #236D30 ;
}

.SIM-button.reject {
    background-color: #A80000;
}

.SIM-button.reject:hover {
    background: #780000 ;
}

.SIM-button.disabled {
    background-color: #DDD;
    color: #AAA;
}

.SIM-button.narrow {
    height: 25px;
    font-size: 12px;
}

.SIM-button.inRow {
    height: 20px;
    font-size: 10px;
    padding: 2px 5px;
}

.SIM-button.tall {
    height: 40px;
}

i.icon.SIM-icon-button {
    align-items: flex-end;
    opacity: .6;
    cursor: pointer;
    padding: 0 5px
}

.SIM-icon-link {
    opacity: .6;
    cursor: pointer;
    padding: 0 10px
}

i.icon.SIM-icon-button:hover, .SIM-icon-link:hover {
    opacity: 1;
}

a.SIM-link {
    color: #628CB6;
    cursor: pointer;
    text-decoration: none;
}

a.SIM-link:hover {
    color: #002e5d;
    text-decoration: underline;
}
